[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mido = "~=1.3.3"
numpy = "~=2.2.3"
python-rtmidi = "~=1.5.8"
scipy = "~=1.15.2"

[dev-packages]
pex = "~=2.33.1"

[requires]
python_version = "3.12"

[pipenv]
sort_pipfile = true

[scripts]
start = "./start.sh"
build-linux-x86_64 = "./build.sh linux-x86_64"
build-linux-arm64 = "./build.sh linux-arm64"
build-macos-x86_64 = "./build.sh macos-x86_64"
build-macos_arm64 = "./build.sh macos-x86_64"
